<h1>Pictures (<%= @pictures.length %>)</h1>
<div class="center">
	<%= link_to "New Picture", "/pictures/new"%>
</div>

<% @pictures.each do |picture| %>
	<p><%= picture.title %>, <%= picture.artist %></p>
	<%= link_to image_tag(picture.url), picture_path(picture)%>
	<% end %>